

/*----------------------------------------全局定义----------------------------------------*/
body,div{
	margin: 0px;
	padding: 0;
}

body{
	background-color: #d6d6d6;
}

p,pre{
	margin: 0;
	padding: 0;

	font-family: "微软雅黑";
}


/*----------------------------------------左侧选项栏----------------------------------------*/
#left-container{
	border: 0px solid red;
	
	position: fixed;    
	top: 0;    
	text-align: center;

	width: 90px;
	height: 100%;
	
	background:url(images/back.jpg);
}

.left-word{
   border: 0px solid red;

   margin: 0;
   padding: 8px;
   width: 50px;

   color: #bbbbbb;

   border-radius: 50%;

   text-align: center;
}

/*----------------------------------------右侧导航栏----------------------------------------*/
#nav{
	border: 0px solid red;
	position: fixed;
	width: 100%;
	margin-left: 90px;
	height: 46px;
	text-align: center;

	background-color: #2e2e2e;

}

.select{
	border:0px solid red;
	padding: 0 20px 0 20px;
	display: inline-block;
	float: left;
    margin-right: 10px;

    color: #737373;
    font-size: 20px;
    line-height: 46px;

    background-color: #3b3b3b;
}

#selected{
	color: #9a9cff;
    background-color: #4a4b60;
}

#un-selected:hover{
	color: #9a9cff;
    background-color: #4a4b60;
}


