

/*----------------------------------------全局定义----------------------------------------*/
body{
	margin: 0px;

	background-color: #d6d6d6;
}

div,p{
	margin: 0;
	padding: 0;

	font-family: "微软雅黑";
}

a:visited, a:link{
	text-decoration: none;
}


/*----------------------------------------左侧选项栏----------------------------------------*/
#contain-l,#contain-r{
    border:0px solid red;
    position: fixed;
    top:0;
    width: 90px;
    height: 100%;

    display: flex;
    background: url(images/back.jpg);
}

#contain-l{
	left:0;
}

#contain-r{
	right: 0;
}

.fanye{
	margin:auto;
	padding-bottom: 50px;
}

/*----------------------------------------右侧选项栏----------------------------------------*/
#right-container{
	border: 0px solid red;
	
	position: fixed;    
	top: 0;    
	right: 0;
	text-align: center;
	display: flex;

	width: 90px;
	height: 100%;
	
	color: white;
}


/*----------------------------------------漫画区----------------------------------------*/

#comic-container{    
	border: 0px solid red;

    margin-left: 90px;
    margin-right: 90px;
    text-align: center;

}

#picture{
    border: 0px solid red;
    vertical-align: top;
    width:1000px;
}

